@charset "UTF-8";
.Rule {
  background: #202536;
  padding: 24px;
  max-width: 545px;
  box-sizing: border-box; }

.Rule__heading {
  color: #f0f1f2;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: 16px; }

.Rule__body {
  background: #464646;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  overflow-y: scroll;
  height: 300px;
  box-sizing: border-box;
  margin-bottom: 12px;
  transform: translateZ(0); }

.Rule__buttonContainer {
  min-height: 50px;
  display: flex;
  justify-content: space-between; }

.Rule__agreeButton {
  background: #ff6a37;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 24px; }

.Rule__cancelButton {
  background: #707070;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; }

.Rule__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }

.Rule__errorMessage {
  color: red;
  margin-top: 8px;
  font-size: 13px; }

/*main*/
.LauncherInstallMain {
  -webkit-flex: 1;
  flex: 1; }

/*Close　mark*/
.LauncherInstallMain__Close {
  max-width: 100%;
  position: relative; }

.LauncherInstallMain__Close img {
  position: absolute;
  right: 0px;
  width: 15px;
  height: 15px;
  padding-top: 10px;
  margin-right: 10px;
  /*Heading*/ }

.LauncherInstallMain__heading {
  margin-top: 46px;
  color: #f0f1f2;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .1em; }

.LauncherInstallMain__container {
  max-width: 545px;
  padding-right: 60px;
  padding-bottom: 15px; }

.LauncherInstallMain__explanation {
  margin-top: 1em;
  color: #bec0c4;
  font-size: 13px;
  line-height: 1.9; }

/*Language*/
.LauncherInstallMain__languageTitle {
  margin-top: 2em;
  color: #f0f1f2;
  font-size: 15px;
  font-weight: bold; }

.LauncherInstallMain__languageExplanation {
  margin-top: 1em;
  color: #bec0c4;
  font-size: 13px; }

.LauncherInstallMain__languageChoose {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start; }

.LauncherInstallMain__languageChoose--ja, .LauncherInstallMain__languageChoose--en {
  margin-right: 53px;
  color: #f0f1f2;
  font-size: 16px; }

/*Folder*/
.LauncherInstallMain__folder {
  margin-top: 40px; }

.LauncherInstallMain__folderTitle {
  color: #f0f1f2;
  font-size: 15px;
  font-weight: bold; }

.LauncherInstallMain__folderExplanation {
  margin-top: 1em;
  color: #bec0c4;
  font-size: 13px;
  line-height: 2; }

.LauncherInstallMain__folderInput {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.LauncherInstallMain__folderInput--title {
  font-size: 13px;
  color: #bec0c4; }

/*Folder input*/
.LauncherInstallMain__folderInputLine {
  height: 33px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  margin-left: 1em; }

input[type="text"].LauncherInstallMain__folderInput--input {
  width: 350px;
  background: #464646;
  font-size: 13px;
  color: white;
  box-sizing: border-box;
  padding-left: 30px; }

.LauncherInstallMain__folderInput--button {
  background: #2f2f2f;
  font-size: 13px;
  color: white;
  display: flex;
  align-items: center;
  border-left: 1px solid #fff;
  padding: 0 22px; }

.LauncherInstallMain__descs {
  margin-top: 30px;
  display: flex;
  justify-content: left; }

.LauncherInstallMain__desc {
  margin-right: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.LauncherInstallMain__descTitle {
  margin-right: 10px;
  color: #bec0c4;
  font-size: 13px; }

.LauncherInstallMain__descVolume {
  color: #f0f1f2;
  font-size: 13px;
  font-weight: bold; }

/*checkbox*/
.LauncherInstallMain__checks {
  margin-top: 25px;
  margin-bottom: 30px; }

.LauncherInstallMain__check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }

/*Button*/
.LauncherInstallMain__button {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }

.LauncherInstallMain__buttonInstall, .LauncherInstallMain__buttonCancel {
  width: 50%;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center; }

.LauncherInstallMain__buttonInstall {
  background-color: #ff6a37;
  position: relative; }

.LauncherInstallMain__buttonCancel {
  background-color: #707070; }

.LauncherInstallMain__buttonInstall span {
  font-size: 13px; }

.LauncherInstallMain__buttonInstall img {
  width: 22px;
  position: absolute;
  right: 16px;
  top: 17px; }

/* checkbox */
.LauncherInstallMain__check--input {
  display: none; }

.LauncherInstallMain__check--title:hover {
  color: #fff; }
  .LauncherInstallMain__check--title:hover::before {
    border-color: #fff; }

.LauncherInstallMain__check--title {
  padding-left: 30px;
  position: relative;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px; }
  .LauncherInstallMain__check--title::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(255, 255, 255, 0.7); }

.LauncherInstallMain__check--input:checked + .LauncherInstallMain__check--title {
  color: white; }
  .LauncherInstallMain__check--input:checked + .LauncherInstallMain__check--title::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 10px;
    transform: rotate(40deg);
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff; }

.LauncherInstallMain__check--input:checked + .LauncherInstallMain__check--title::before {
  border: 1px solid white; }

.LauncherInstallMain__progresBar {
  height: 10px;
  background: linear-gradient(-45deg, #ea5514 25%, #fff 25%, #fff 50%, #ea5514 50%, #ea5514 75%, #fff 75%, #fff);
  -webkit-animation: stripeBg 20s linear infinite;
  background-size: 20px 20px;
  border: 1px solid #ea5514; }

@-webkit-keyframes stripeBg {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }
