@charset "UTF-8";
/* FadeInLeft */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/* FadeInDown */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/* FadeInUp*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/* fadeInRight */
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/* bounce */
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes clockwise {
  to {
    transform: rotate(360deg) translatez(0); } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slideOut {
  100% {
    top: 100%; } }

@keyframes slideOut {
  100% {
    top: 100%; } }

@-webkit-keyframes slide {
  100% {
    top: 0; } }

@keyframes slide {
  100% {
    top: 0; } }

.Container {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  position: relative;
  line-height: 1;
  overflow: hidden; }

body.-no-scroll {
  overflow: hidden; }

.Container.-unvisible {
  opacity: 0; }

body {
  background: #262626; }

.Contents {
  background-size: cover;
  background-position: center,center top -50px;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.Contents_mask {
  width: 100%;
  height: 100%;
  background: #262626;
  display: flex;
  justify-content: space-between;
  z-index: 10000; }

.Contents_mask.closing {
  animation: closingContentsMask ease-in .5s;
  animation-fill-mode: forwards; }

.Contents_mask.fade {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@keyframes closingContentsMask {
  from {
    background: rgba(32, 37, 54, 0); }
  to {
    background: #202536; } }

.Contents_mask.loading {
  background: #202536;
  animation: loadingContentsMask ease-in .5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes loadingContentsMask {
  from {
    background: #202536; }
  to {
    background: rgba(32, 37, 54, 0); } }

.Footer {
  z-index: 1001;
  width: calc(100% - 206px);
  height: 96px;
  position: absolute;
  left: 206px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.Footer__cut {
  z-index: 1001;
  position: absolute;
  top: -33px;
  left: 0;
  border-top: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #202536;
  z-index: 1; }

.Footer.hide {
  height: 0px; }

.Footer.show {
  height: 96px; }

.Footer__mainMenu {
  width: 76%;
  z-index: 1000; }

.Footer__actions {
  width: 24%;
  z-index: 1000; }

.Footer::after {
  content: "";
  background: linear-gradient(0deg, black 0%, rgba(32, 37, 54, 0) 100%);
  position: absolute;
  bottom: 96px;
  width: 100%;
  height: 13px;
  opacity: 0.22; }

.GameInstall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  opacity: 0;
  visibility: hidden; }

@keyframes fadein {
  0% {
    visibility: hidden;
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }

@keyframes fadeout {
  0% {
    visibility: visible;
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.GameInstall.fadein {
  animation: fadein .3s linear forwards; }

.GameInstall.fadeout {
  animation: fadeout .3s linear forwards; }

.GameInstall__background {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 490; }

.GameInstall__container {
  background: #393939;
  width: 800px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 13px 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.7);
  z-index: 500; }

.Header {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0s;
  -webkit-animation-name: fadeInRight;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: fadeInRight;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: fadeInRight;
  -o-animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-name: fadeInRight;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background: #202536;
  display: flex; }

.Header.fade {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.HeaderReserve {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 0s;
  -webkit-animation-name: fadeInRight;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: fadeInRight;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: fadeInRight;
  -o-animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-name: fadeInRight;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background: #202536;
  display: flex; }

.HeaderReserve.fade {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.MaintenanceModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010; }

.MaintenanceModal__container {
  width: 480px;
  background-color: #282828;
  border: 1px solid #282828;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-top: 32px;
  text-align: center; }

.MaintenanceModal__icon {
  margin-bottom: 20px; }

.MaintenanceModal__iconImage {
  width: 40px; }

.MaintenanceModal__heading {
  text-align: center; }

.MaintenanceModal__headingTitle {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  line-height: 1; }
  .MaintenanceModal__headingTitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 10px; }

.MaintenanceModal__body {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px; }

.MaintenanceModal__button {
  width: 136px;
  height: 46px;
  color: #fff;
  font-size: 13px;
  letter-spacing: .1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #ff6a37;
  margin: 0 auto; }

.ModalConfirm {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; }

.ModalConfirm.fade {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.ModalConfirm__Container {
  max-width: 450px;
  min-height: 190px;
  background-color: #d1d1d1;
  border: 1px solid #ebebeb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.ModalConfirm__title {
  margin-top: 25px;
  color: #3c3c3c;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.ModalConfirm__explanation {
  margin: 20px 25px 0;
  color: #3b3b3b;
  font-size: 16px;
  line-height: 1.8; }

.ModalConfirm__button {
  min-height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between; }

.ModalConfirm__buttonOk, .ModalConfirm__buttonCancel {
  width: 50%;
  color: #f9f9f9;
  font-size: 18px;
  letter-spacing: .1em;
  display: flex;
  justify-content: center;
  align-items: center; }

.ModalConfirm__buttonOk {
  background-color: #ff6a37; }

.ModalConfirm__buttonCancel {
  background-color: #707070; }

.ModalInstallDirectoryConfirm {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; }

.LauncherInstall .ModalInstallDirectoryConfirm {
  top: 0; }

.ModalInstallDirectoryConfirm.fade {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.ModalInstallDirectoryConfirm__Container {
  width: 480px;
  min-height: 190px;
  background-color: #d1d1d1;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.ModalInstallDirectoryConfirm__title {
  text-align: center; }

.ModalInstallDirectoryConfirm__titleText {
  color: rgba(0, 0, 0, 0.65);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  line-height: 1; }
  .ModalInstallDirectoryConfirm__titleText::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.65);
    margin-top: 10px; }

.ModalInstallDirectoryConfirm__explanation {
  margin: 20px 25px 0;
  color: #3b3b3b;
  font-size: 16px;
  line-height: 1.8; }

.ModalInstallDirectoryConfirm__button {
  margin-top: 45px;
  display: flex;
  justify-content: flex-end; }

.ModalInstallDirectoryConfirm__buttonOk, .ModalInstallDirectoryConfirm__buttonCancel {
  width: 136px;
  height: 46px;
  color: #fff;
  font-size: 13px;
  letter-spacing: .1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }

.ModalInstallDirectoryConfirm__buttonOk:hover, .ModalInstallDirectoryConfirm__buttonCancel:hover {
  opacity: .85; }

.ModalInstallDirectoryConfirm__buttonOk {
  background-color: #ff6a37; }

.ModalInstallDirectoryConfirm__buttonCancel {
  background-color: #707070; }

.ModalInstallDirectoryConfirm__directoryRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px; }
  .ModalInstallDirectoryConfirm__directoryRow .DirectorySelector {
    margin: 0;
    border: 1px solid #c8c8c8; }
    .ModalInstallDirectoryConfirm__directoryRow .DirectorySelector > input[type="text"] {
      color: rgba(0, 0, 0, 0.5);
      background: #ececec;
      width: calc(100% - 71px); }
    .ModalInstallDirectoryConfirm__directoryRow .DirectorySelector .DirectorySelector__button {
      border-left: 1px solid #c8c8c8; }

.ModalInstallDirectoryConfirm__directoryTitle {
  font-size: 13px;
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.5); }

.ProgressInfo {
  background: #202536;
  width: calc(100% - 206px);
  height: 40px;
  position: absolute;
  left: 206px;
  bottom: 96px;
  z-index: 2;
  display: none; }

.ProgressInfo__mask {
  background: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 40px;
  z-index: 2;
  display: flex;
  justify-content: space-between; }

.SideMenu {
  width: 206px;
  height: calc(100vh - 49px);
  overflow-y: auto;
  position: relative;
  z-index: 1;
  background: #202536; }

.SideMenu::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }

.SideMenu::-webkit-scrollbar {
  display: none; }

.SideMenu__logo {
  padding: 32px 0px 36px;
  text-align: center; }

.SideMenu__logoImage {
  width: 138px; }

.SideMenu, .HeaderReserve {
  z-index: 1010;
  position: relative; }

.SideMenu {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition-duration: 0.4s;
  -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  　-moz-transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .SideMenu:after {
    display: none; }

.Terms {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.54);
  display: none;
  opacity: 0;
  z-index: 10000; }

.Terms__container {
  width: 483px;
  padding: 25px 30px 77px;
  box-sizing: border-box;
  background-color: #ECECEC;
  position: relative; }

.Terms__header {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0; }

.Terms__terms {
  margin-bottom: 17px;
  padding: 14px 12px 13px 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .0;
  border: 1px solid rgba(0, 0, 0, 0.19); }

.Terms__form label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .Terms__form label p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    letter-spacing: 0; }

.Terms__formCheckBox {
  width: 17px;
  height: 17px;
  margin-right: 7px;
  background-color: #ECECEC;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.Terms__startButton {
  width: 481px;
  height: 59px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .06em;
  background: #FF6A37;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1px;
  bottom: 1px;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.Terms__startButton:hover {
  opacity: .85; }

.Web {
  width: calc(100% - 206px);
  height: calc(100vh - 145px); }

.Web.hide {
  height: calc(100vh + 48px); }

.Web.show {
  height: calc(100vh - 145px); }

.Web.installing {
  height: calc(100vh - 300px); }

/*---Setting---*/
.Setting {
  background-color: #202536;
  display: flex;
  justify-content: space-between; }

/*---Setting Main---*/
.SettingMainScroll {
  height: 100vh;
  width: calc(100% - 206px); }

.SettingMain__Container {
  max-width: 870px;
  margin: 0 auto;
  display: flex;
  padding: 0 30px; }

.SettingMain__inner {
  width: 100%; }

.SettingMain__sideButton {
  width: 120px; }

/*---Setting User---*/
.SettingMain__user {
  padding-bottom: 100px;
  display: none; }

/*---Setting User---*/
.SettingMain__option {
  padding-bottom: 100px; }

.SettingMain__Image {
  max-width: 150px;
  margin: 60px auto 0; }

.SettingMain__ImageUser {
  border-radius: 50%;
  overflow: hidden; }

.SettingMain__ImageUser img {
  width: 100%; }

.SettingMain__ImageButton {
  margin-top: 20px;
  display: flex;
  justify-content: center; }

.SettingMain__content, .SettingMain__delete {
  padding: 4px 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: #2f2f2f;
  border: 1px solid #676a75;
  box-sizing: border-box;
  cursor: pointer; }

.SettingMain__content:hover, .SettingMain__delete:hover {
  opacity: .85; }

.SettingMain__settingItem {
  margin-top: 25px;
  padding: 20px 30px;
  color: #d7d8db;
  background-color: #565a67;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.SettingMain__settingTitle {
  font-size: 16px;
  color: #cdced2;
  line-height: 48px;
  display: flex;
  align-items: center; }

.SettingMain__settingTitle--download-speed {
  font-size: 14px;
  line-height: 52px;
  margin-right: 114px;
  color: #fff; }

.SettingMain__settingTitle--auto-download-speed {
  font-size: 14px;
  line-height: 52px;
  margin-left: 190px;
  color: #fff; }

.SettingMain__settingExplanationContainer {
  display: none;
  position: absolute;
  background: #cdced2;
  color: #000;
  width: 300px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 1.7;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2; }
  .SettingMain__settingExplanationContainer::before {
    content: "";
    border-bottom: 8px solid #cdced2;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    top: -7px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.SettingMain__settingExplanation {
  margin-left: 10px;
  position: relative; }
  .SettingMain__settingExplanation:hover .SettingMain__settingExplanationContainer {
    display: block; }

.SettingMain__settingExplanationIcon {
  color: #fff;
  background: rgba(245, 163, 43, 0.8);
  display: flex;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 10%;
  cursor: pointer;
  position: relative;
  top: 1px; }

.SettingMain__notificationMainTitle {
  width: 300px;
  display: flex;
  align-items: center; }

.SettingMain__notificationTitle {
  width: 200px;
  color: #fff; }

.SettingMain__notificationInput {
  width: 200px;
  text-align: right;
  padding-right: 10px; }

.SettingMain__gameTitle {
  font-size: 12px;
  color: #fff;
  line-height: 35px;
  margin: 10px; }

.SettingMain__gameImage {
  margin: 10px;
  overflow: hidden; }

.SettingMain__gameImage img {
  border-radius: 50%;
  width: 35px; }

.SettingMain__settingItem--input {
  max-width: 550px; }

.SettingMain__settingItem--input-right {
  max-width: 550px;
  text-align: right;
  margin-right: 10px; }

.SettingMain__settingItemTitle--sound {
  text-align: right;
  padding-right: 0px; }

.SettingMain__settingItemTitle--sound p {
  background: #c5c7cb;
  color: #646773;
  font-size: 12px;
  padding: 3px 1.5em;
  border-radius: 12px;
  display: inline;
  width: 80px; }

.SettingMain__settingItemTitle--notification {
  text-align: right;
  padding-right: 0px; }

.SettingMain__settingItemTitle--notification p {
  background: #c5c7cb;
  color: #646773;
  font-size: 12px;
  padding: 3px 1em;
  border-radius: 12px;
  display: inline; }

.SettingMain__settingItemInput--sound,
.SettingMain__settingItemInput--notification {
  text-align: right;
  padding-right: 10px; }

.SettingMain__NotificationTableRow {
  line-height: 32px; }

.SettingMain__settingRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.SettingMain__settingItem--inputLogin,
.SettingMain__settingItem--inputSns {
  max-width: 550px;
  display: flex;
  justify-content: flex-start; }

.SettingMain__settingItem--size {
  margin-top: 10px;
  font-size: 12px;
  text-align: right; }

.SettingMain__settingItem--input input[type="text"] {
  width: 550px;
  height: 45px;
  padding: 20px 15px;
  color: #d7d8db;
  font-size: 12px;
  background-color: #71757f;
  border-bottom: 2px solid #c4c5ca;
  box-sizing: border-box; }

.SettingMain__settingItem--input input[type="text"]:focus {
  background: #5f626b;
  border-bottom: 2px solid #e8805d; }

.SettingMain__settingRow.-error .SettingMain__settingItem--input input,
.SettingMain__settingRow.-error .SettingMain__settingItem--inputText textarea {
  border-bottom: 2px solid rgba(255, 0, 0, 0.7); }

.SettingMain__settingItem--inputText textarea {
  overflow: hidden;
  width: 550px;
  height: 150px;
  padding: 20px 15px;
  color: #d7d8db;
  font-size: 12px;
  line-height: 1.7;
  background-color: #71757f;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid #c4c5ca;
  box-sizing: border-box;
  resize: none; }

.SettingMain__settingItem--inputText textarea:focus {
  background: #5f626b;
  border-bottom: 2px solid #e8805d; }

.SettingMain__settingItem--inputSns .SettingMain__settingItem--inputTitle {
  padding-top: 14px;
  box-sizing: border-box;
  font-size: 16px;
  margin-right: 1em; }

.SettingMain__settingItem--inputSns {
  display: block; }

.SettingMain__settingItem--inputSnsItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.SettingMain__settingItem--inputSnsItem:last-child {
  margin-bottom: 0; }

.SettingMain__settingItem--inputSnsItem .SettingMain__settingItem--inputText input[type="text"] {
  width: 430px;
  height: 45px;
  padding: 20px 15px;
  color: #d7d8db;
  font-size: 12px;
  background-color: #71757f;
  border-bottom: 2px solid #c4c5ca;
  box-sizing: border-box; }

.SettingMain__settingItem--inputSnsItem .SettingMain__settingItem--inputText input[type="text"]:focus {
  background: #5f626b;
  border-bottom: 2px solid #e8805d; }

.SettingMain__settingItem--inputRadio {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  line-height: 30px; }

.SettingMain__settingItem--inputTitle {
  font-size: 12px; }

.SettingMain__settingItemErrorRow {
  display: flex;
  justify-content: space-between;
  margin-top: 12px; }

.SettingMain__settingItemStringLen--introduction,
.SettingMain__settingItemStringLen--name {
  font-size: 13px;
  display: block; }

.SettingMain__settingItemErrorMessage {
  font-size: 13px;
  display: none; }

.SettingMain__settingRow.-error .SettingMain__settingItemErrorMessage {
  display: block;
  color: #ff0000; }

.SettingMain__settingRow.-error .SettingMain__settingItemSubmitButton {
  pointer-events: none;
  color: #ff0000 !important; }

.SettingMain__settingItemSubmitButton {
  color: #f5a32b;
  font-size: 14px; }

.SettingMain__settingItemSubmitButton:hover {
  text-decoration: underline; }

.SettingMain__settingRow.-error .SettingMain__settingItemSubmitButton {
  color: #e8805d; }

.SettingMain__settingItem--icon-twitter img {
  margin-top: 13px;
  margin-right: 10px;
  width: 20px; }

.SettingMain__settingItem--icon-youtube img {
  margin-top: 16px;
  margin-right: 10px;
  width: 20px; }

#openRange .RadioButton + label {
  margin-right: 10px; }

#openRange .SettingMain__settingItem--input {
  margin-top: 10px; }

.SettingMain__footer {
  margin-top: 40px;
  list-style: none;
  display: flex; }
  .SettingMain__footer li {
    margin-right: 32px; }

.SettingMain__footerItem {
  color: #fff;
  opacity: .7;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center; }

.SettingMain__footerItem > svg {
  width: 6px;
  stroke: #fff;
  opacity: .7; }

.SettingMain__footerItemText {
  margin-right: 7px; }

.SettingProfileModal {
  background-color: rgba(58, 62, 77, 0.73);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 49px;
  left: 207px;
  right: 0;
  bottom: 49px;
  z-index: 1;
  overflow-y: none;
  opacity: 0;
  display: none; }

.SettingProfileModal__container {
  width: 615px;
  background: #ececec;
  padding-top: 30px;
  box-sizing: border-box;
  height: calc(100vh - 89px); }

.SettingProfileModal__heading {
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 25px; }

.SettingProfileModal__iconListScrollBar {
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px; }

.SettingProfileModal__iconListScrollBarInner {
  height: calc(100vh - 228px); }

.SettingProfileModal__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  box-sizing: border-box; }

.SettingProfileModal__item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s linear forwards;
  cursor: pointer;
  position: relative; }

.SettingProfileModal__item:nth-child(even) {
  background: rgba(58, 62, 77, 0.03); }

.SettingProfileModal__itemInput {
  display: none; }

.SettingProfileModal__itemContainer {
  background: rgba(58, 62, 77, 0.07); }

.SettingProfileModal__itemInput:checked + .SettingProfileModal__itemContainer {
  background: rgba(58, 62, 77, 0.78); }

.SettingProfileModal__deleteButton {
  position: absolute;
  right: 18px;
  top: 11px;
  opacity: 0; }

.SettingProfileModal__itemInput:checked + .SettingProfileModal__itemContainer + .SettingProfileModal__deleteButton {
  opacity: 1; }

.SettingProfileModal__deleteButton img {
  width: 18px; }

.SettingProfileModal__userIcon {
  cursor: pointer; }

.SettingProfileModal__userIcon img {
  width: 82px;
  padding: 14px 15px;
  border-radius: 50%; }

.SettingProfileModal__button {
  display: flex;
  margin-left: auto;
  width: 280px; }

.SettingProfileModal__selectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  background: #ff6a37;
  width: 140px;
  height: 46px; }

.SettingProfileModal__cancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .06em;
  background: #8a8a8a;
  width: 140px;
  height: 46px; }

/*---Setting sideSpace---*/
.SettingSideMenu {
  width: 206px;
  position: relative;
  border-right: 1px solid #4a4e5c; }

.SettingSideMenu__logo {
  width: 150px;
  margin: 60px auto 0;
  display: block; }

.SettingSideMenu__LogoSvg {
  max-width: 68px;
  margin: 0 auto; }

.SettingSideMenu__LogoLink {
  max-width: 82px;
  margin: 20px auto 0; }

.SettingSideMenu__LogoLink img {
  width: 100%; }

/*---Setting User Item---*/
.SettingSideMenu__menu {
  margin: 60px 0 0 20px;
  color: #fff;
  font-size: 12px;
  position: relative;
  cursor: pointer; }

.SettingSideMenu__menu--user, .SettingSideMenu__menu--option {
  height: 50px;
  line-height: 45px;
  padding-left: 0px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: block; }
  .SettingSideMenu__menu--user img, .SettingSideMenu__menu--option img {
    opacity: .5; }

.SettingSideMenu__menu--user:hover, .SettingSideMenu__menu--option:hover, .SettingSideMenu__menu--user.-current, .SettingSideMenu__menu--option.-current {
  color: #fff; }
  .SettingSideMenu__menu--user:hover img, .SettingSideMenu__menu--option:hover img, .SettingSideMenu__menu--user.-current img, .SettingSideMenu__menu--option.-current img {
    opacity: 1; }

.SettingSideMenu__menuRelease, .SettingSideMenu__menuIntroduction, .SettingSideMenu__menuLogin, .SettingSideMenu__optionLogin, .SettingSideMenu__optionInstall, .SettingSideMenu__optionUpdate, .SettingSideMenu__optionDownload, .SettingSideMenu__optionNotice {
  height: 27px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  padding-left: 37px;
  display: block;
  cursor: pointer; }

.SettingSideMenu__menuRelease:hover, .SettingSideMenu__menuIntroduction:hover, .SettingSideMenu__menuLogin:hover, .SettingSideMenu__optionLogin:hover, .SettingSideMenu__optionInstall:hover, .SettingSideMenu__optionUpdate:hover, .SettingSideMenu__optionDownload:hover, .SettingSideMenu__optionNotice:hover {
  color: #fff; }

.SettingSideMenu__menu--user img {
  width: 16px;
  display: inline;
  vertical-align: middle;
  margin-right: 1.5em;
  margin-bottom: 3px; }

.SettingSideMenu__menu--option img {
  width: 20px;
  display: inline;
  vertical-align: middle;
  margin-right: 1.3em;
  margin-bottom: 3px; }

.SettingSideMenu__menu--user.-current,
.SettingSideMenu__menu--option.-current {
  color: #fff; }

.SettingSideMenu__menu--user.-current::after,
.SettingSideMenu__menu--option.-current::after {
  content: '';
  display: block;
  background: #f56c2d;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 3; }

/*---Setting Back---*/
.SettingSideMenu__back {
  display: flex;
  align-items: center;
  position: fixed;
  left: auto;
  color: #fff;
  font-size: 12px;
  opacity: 1; }
  .SettingSideMenu__back .SettingSideMenu__backText {
    height: 18px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    line-height: 18px;
    letter-spacing: .2em;
    font-family: 'AvantGarde Medium';
    border-left: 1px dotted rgba(255, 255, 255, 0.2); }
  .SettingSideMenu__back .SettingSideMenu__backIcon {
    width: 4px;
    margin-right: 14px; }

.SettingSideMenu__back:hover {
  opacity: .5; }
