@import url('//fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
/* Countermeasures against Drag and Drop  */
*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /*-webkit-app-region: no-drag;*/
    /*cursor: default;*/
}



body {
    user-select: none;
}

.Header_inner,
.ConfirmModal__container,
.ChatIntroMainHeader > div,
.app_drag {
    -webkit-app-region: drag;
}

.Header .WindowControl,
.HeaderReserve .WindowControl,
.HeaderReserve .Operation,
.HeaderReserve .Notification__gameTitle,
.dialog_ok,
.dialog_cancel,
.ChatMainHeader__button,
.ChatMainHeader__close--user,
.ChatMainHeader a,
.ChatSideMenu__windowControlButton,
.ChatMainHeader__windowControl > div,
.Notification__messageLink,
.ChatMainHeader__like::before,
.Toaster__closeIcon {
    -webkit-app-region: no-drag;
}

.no_drag {
    -webkit-app-region: no-drag;
}

.none_app_region {
    -webkit-app-region: none;
}

/* -- Init --------------------------------------------- */
.LauncherInit {
    overflow: hidden;
    height: calc(100vh - 45px);
    box-sizing: border-box;
    padding: 15px 30px 52px 30px;
}

.ServiceInit {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0px 45px 52px 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ServiceInit__error {
    padding-bottom: 65px;
    text-align: center;
    line-height: 2.0;
    color: white;
    font-size: 13px;
}

.btn-yellow {
    cursor:pointer;
    position: relative;
    box-sizing: border-box;
    height: 39px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 15px;
    z-index: 2;
    background-color: #bf9b0f;
    background-image: none;
    margin: 0;
    font: inherit;
    text-transform: none;
}

.btn-yellow img {
    width: 30px;
    display: none;
    vertical-align: middle;
    border: 0;
}

.btn-yellow.btn-loding {
    cursor: none;
    pointer-events: none;
}

.btn-yellow.btn-loding > span {
    display: none;
}

.btn-yellow.btn-loding > img {
    display: inline;
}

.btn-yellow:disabled {
    cursor: none;
    pointer-events: none;
    opacity: 0.5;
}

.LauncherInit__headingLogo img,
.CodeInput__headingLogo img {
    width: 180px;
}

/* -- Header --------------------------------------------- */
.Header {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0s;
    -webkit-animation-name: fadeInRight;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0s;
    -moz-animation-name: fadeInRight;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: 0s;
    -o-animation-duration: 0s;
    -o-animation-name: fadeInRight;
    -o-animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-name: fadeInRight;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background: #202536;
    display: flex;
}

.Header.fade {
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    trnsition: all 1s ease-in-out;
}

.Header .WindowControl {
    height: 25px;
    float: right;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: auto;
    margin-top: 0;
}

.Header .WindowControl__minimizeButton,
.Header .WindowControl__maxmizeButton,
.Header .WindowControl__closeButton {
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.WindowControl__minimizeButton img {
    width: 17px;
}

.WindowControl__maxmizeButton img {
    width: 16px;
}

.WindowControl__closeButton img {
    width: 11px;
}
.HeaderReserve,
.Header {
    padding: 2px;
}

.Header_inner {
    width:100%;
    display: flex;
    padding:8px;
    justify-content:flex-end;
}

.HeaderReserve .Operation {
    height: 29px;
}

.HeaderReserve .Operation__userIcon {
    margin-top: 2px;
}

.HeaderReserve .Operation__userIcon img {
    width: 33px;
}

.Footer__cut {
    top:-33px;
}

/* ------------------------------------------------- */
.wide_display {
    width: 100%;
    height: calc(100vh - 40px);
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.wide_iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.terms_block {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1rem 2rem;
}

.terms_block iframe {
    position: relative;
    width: 100%;
    flex-grow: 1;
}
.terms_block > div {
    padding: 0.5rem;
}


/* -- login -------------------------------- */
.CodeInput {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px 45px 52px 45px;
}

.CodeInput__message {
    line-height:1.4rem;
}

.CodeInput__submitButtonContainer {
    margin-bottom: 12px;
}

.authcode_confirm__result {
    padding: 0 10px 12px !important;
    font-size: 13px;
    margin-bottom: 21px;
}


.ModalInstallDirectoryConfirm__Container,
.ConfirmModal__container,
.MaintenanceModal__container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.ModalInstallDirectoryConfirm__directoryRow,
.ConfirmModal__body {
    flex-grow: 1;
    padding: 0 25px 0;
    margin: 15px 0 12px;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.ModalInstallDirectoryConfirm__directoryTitle {
    padding: 20px 0;
}

.ConfirmModal__button,
.ModalInstallDirectoryConfirm__button {
    margin-top: 0;
}

.dialog_close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.dialog .WindowControl__closeButton{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.dialog_areat{
    justify-content:center;
}

.full_screen {
    height: 100%;
    width: 100%;
}

.c_hide {
    display: none !important;
}

.main_menu{
    position:relative;
}

.main iframe {
    height: 100%;
}

.text-center{
    text-align:center;
}
/*
.Action {
    justify-content: flex-end;
}
    */
.test-area {
    padding: 0.5rem;
    color: #fff;
    font-size: 0.8rem;
}
.test-area .w-50{
    width:50%;
}
.test-area .row{
    padding:0.25rem;
    box-sizing:border-box;
}

.account_social_btnarea > button,
.text-btn {
    padding: 0.25rem 0.5rem;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.2);
    display: inline-block;
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
}
.text-btn+.text-btn {
    margin-left: 0.25rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.badge {
    background-color: red;
    color: #fff;
    width: 1.1rem;
    display: block;
    height: 1.1rem;
    position: absolute;
    top: 20%;
    right: 30%;
    border-radius: 1rem;
    font-size: 0.7rem;
    text-align: center;
    line-height: 0.9rem;
    padding: 0.1rem 0;
}

.test-panel,
.test-panel-show {
    position: fixed;
    z-index: 1001;
    left: 1rem;
}

.test-panel {
    display: flex;
    flex-direction: column;
    width: 350px;
    bottom: 3rem;
    z-index: 1001;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #fff;
    padding: 1rem;
    height: calc(100vh - 15%);
    overflow-y: auto;
}

.test-panel-show {
    font-size: 1rem;
    bottom:1rem;
    width:100px;
}

.MainMenu__button,
.GameItem,
.account_profile_records_title{
    position: relative;
}

.MainMenu__button:hover .MainMenu__item.show {
    opacity:1;
}

.Contents_overlay_parent {
    position: relative;
}

.Contents_overlay {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483646;
    background: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}

.Contents_overlay .c_window_close {
    position: relative;
    box-sizing: border-box;
    margin-right: 17px;
    padding: 13px 12px 12px 12px;
    width: 36px;
    height: 37px;
    z-index: 2147483647;
    margin-top: 5px;
    margin-right: 7px;
}

.Contents_overlay .c_window_close:hover {
    background: rgba(0, 0, 0, 0.5);
}

.Contents_overlay .c_window_close.window_Main {
    margin-top:0;
    margin-right: 17px;
}

.Contents_overlay .c_window_close.window_Social {
    margin-top: 8px;
    margin-right: 7px;
}

.Contents_overlay .c_window_close img {
    width: 10.5px;
}

.Preload {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.ProgressTime {
    padding: 0 15px 0 15px;
    min-width: 160px;
    align-items:center;
}

.load-text:after {
    content: "";
    animation: loadingtext 5.0s ease infinite forwards;
    padding-left:3px;
    width:30px;
}


@keyframes loadingtext {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }

    100% {
        content: "";
    }
}
/* Install ------------------------------------- */
.GameInstall {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.GameInstall__container {
    position: relative;

}

.GameInstall__container > form{
    display:flex;
}

/*.GameInstall__MainArea {
    width: 100%;
}*/

.GameInstallMainArea__kv {
    max-height: 380px;
    overflow: hidden;
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;*/
}

.GameItem.-current > .GameItem__info {
    opacity: 1.0;
}

.-browser .GameItem.-current .GameItem__thumbnail:after {
    content: none;
}

.GameInstallFunction__volume {
    margin-left: 10px;
    margin-right: 20px;
}

.GameInstallFunction__discVolume {
    margin-right: 44px;
}

.GameInstallFunction__discVolume {
    text-align: center;
}

.GameInstallFunction__discVolumeHeading {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}

.GameInstallFunction__discVolumeValue{
    font-family: 'AvantGarde Medium';
    font-size: 13px;
    color: white;
    letter-spacing: 0.1em;
}


.tp_header {
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 800px;
    z-index: 100001;
    border-color:transparent;
}

.tp_header.-fit {
    top: 0;
    left: 0;
    width: 100%;
}

a,
.OptionPanel__itemTitle,
.MainMenu__button,
.GameItem,
.Action__install,
.Action__option,
.change_profile_btn,
.ToggleCheckBox__bar,
.ToggleCheckBox__circle,
.SettingMain a,
.Operation__item,
.ChatSideMenuHead__userIcon > img,
.ChatSideMenuFriendList__listItem,
.ChatIntroMainHeader__windowControl > div,
.ChatSideMenuGroupList__heading,
.ChatSideMenuMessageList__heading,
.ChatSideMenuMessageList__headingAddButton {
    cursor: pointer;
}

.a:disabled {
    cursor: none;
}

.disabled {
    cursor:none;
    pointer-events: none;
    opacity: 0.5!important;
}

.pointer_events_none {
    pointer-events: none !important;
    cursor: none;
}

.opacity_pointer_events_none {
    pointer-events: none !important;
    cursor: none;
    opacity:0;
}
.Action__install.pointer_events_none,
.Action__option.pointer_events_none {
    background: #8A8A8A;
    color: white;
}

.Action__install.disabled_install {
    pointer-events: none !important;
    cursor: none;
    background: #8A8A8A;
    color: white;
}

.Action__install.pointer_events_none + .Action__option.pointer_events_none,
.Action__install.disabled_install + .Action__option.pointer_events_none {
    border-left: 1px solid #fff;
}

.Action__install.disabled_install > .Action__item,
.Action__install.pointer_events_none > .Action__item,
.Action__option.pointer_events_none > .Action__item {
    opacity: 0.6 !important;
}

.Action__install:active,
.Action__option:active {
    opacity: 0.8;
}
body {
    background: transparent !important;
    overflow: hidden;
}

.UserInfo{
    z-index:1001;
    max-height:calc(100vh - 170px);
}

.DirectorySelector > a {
    padding: 0 10px;
    flex-grow: 1;
    justify-content: center;
}

.OptionPanel__menu {
    background: #f39000;
}

.OptionPanel__itemTitle.no_before::before {
    content:none;
}

.OptionPanel__bk {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
}

.not_installed .installed_item {
    display:none!important;
}

.GameCover__container ul.GameCover__container--sub li span {
    background: transparent;
}

#right_bottom_copytext {
    opacity:0;
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 10px;
    bottom: 3px;
    right: 3px;
    width: 50%;
    color: #f56c2d;
    font-weight:bold;
}

.SideMenu {
    display: flex;
    flex-direction: column;
}

.GameSelector.-browser {
    padding-top: 0;
}

.SideMenu__appVersion {
    padding: 10px;
    font-size: 11px;
    flex-grow: 1;
    min-height: 76px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.SideMenu__appVersion span {
    color: rgba(255, 255, 255, 0.5);
}

.SideMenu__launcherFAQ {
    position: relative;
    padding: 10px 0;
}

.SideMenu__launcherFAQ > a {
    color: rgba(255, 255, 255, 0.7);
    padding: 5px 0;
    font-size: 13px;
}


.Notification__maintenanceIcon {
    background-repeat: no-repeat;
}

.Notification__maintenanceMessage {
    font-weight: inherit;
}

.Notification.-maintenance.-notification {
    background: #555966;
}

.Notification.-maintenance.-warning {
    background: #E00000;
}

.Notification.-maintenance.-warning .Notification__maintenanceIcon,
.Notification.-maintenance.-notification .Notification__maintenanceIcon {
    background: url(../img/index/Notification__maintenanceIcon--wh.png) center center/contain no-repeat;
}

.Notification.-maintenance.-warning .HeaderMaintenanceMessage__message,
.Notification.-maintenance.-notification .HeaderMaintenanceMessage__message {
    color: #fff;
}

.Notification.-maintenance.-alert {
    background: #f3d301;
}


.Notification__newIcon {
    background:none;
}

.Notification__newIcon img{
    width:20px;
    height:auto;
}

.HeaderMaintenanceMessage__message {
    background: transparent;
}

.Notification__gameTitle:hover {
    background-color: #f34800;
    transition: .3s;
}

.Notification__gameTitle > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 187px;
    font-weight: bold;
    letter-spacing: 0.04em;
}

.OptionPanel__contents.-show {
    height: auto;
    position:relative;
}

.ConfirmModal {
    z-index: 1103;
}

.GameItem__notice {
    margin-bottom: 0;
    align-self: center;
}

.GameSelector__heading {
    z-index:1;
}
.GameSelector__headingImage--text {
    font-family: 'Prompt', sans-serif;
    font-size: 10px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: flex;
    align-items: flex-end;
}

/* Setting --------------------------------------------- */
.Setting {
    position: fixed;
    width: 100%;
    height: calc(100vh - 49px);
    z-index: 1102;
    top: 49px;
    left: 0;
    display: none;
    opacity: 0;
    /*align-items: stretch;*/
}


.SettingSideMenu__back {
    padding: 10px 20px;
    opacity:1;
}

.SettingSideMenu__back span {
    font-size: 8px;
    padding-right: 15px;
    font-weight: 100;
}


.SettingSideMenu__back,
.SettingSideMenu__back .SettingSideMenu__backText {
    color: rgba(255, 255, 255, 0.7);
}

.SettingSideMenu__back:hover,
.SettingSideMenu__back:hover .SettingSideMenu__backText {
    color: #fff;
    opacity: 1;
    border-left-color: #fff;
}

.SettingSideMenu__menu {
    margin: 80px 0 0 20px;
}

.SettingMain__Container {
    max-width: 860px;
    padding: 0 60px 0 30px;
    box-sizing: border-box;
}

.SettingMain__settingRow_Empry {
    font-size: 14px;
    line-height: 52px;
    color: #abadb3;
    margin: 0 auto;
}

.SettingMain__settingRow {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.SettingMain__gameTitle {
    margin-right: auto;
}

.SettingMain__gameName {
    max-width: 255px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: initial;
}

.ToggleCheckBox__label.disabled .ToggleCheckBox__circle {
    left: -10px;
    background: lightgrey;
}

.ToggleCheckBox__label.disabled .ToggleCheckBox__bar {
    border-color: initial;
    transition: all .1s .3s;
}

.SettingProfileModal {
    min-height: calc(100vh - 49px);
}

.SettingProfileModal__container {
    position:relative;
}

.SettingProfileModal__settingRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
    height: 20px;
}

.SettingProfileModal__settingItemErrorMessage {
    display: none;
}

.SettingProfileModal__settingRow.-error .SettingProfileModal__settingItemErrorMessage {
    display: block;
    color: #ff0000;
    font-size: 13px;
}

.SettingMain__settingRow.clientRow {
    max-width: 550px;
    margin-left: auto;
}
#launcherId .SettingMain__settingItemErrorMessage {
    opacity: 0;
}

#launcherId .SettingMain__settingItemErrorMessage.-copy,
.SettingMain__settingRow.-success .SettingMain__settingItemErrorMessage,
#right_bottom_copytextt.-copy {
    display: block;
    color: #f56c2d;
}

.SettingProfileModal__container {
    height: 706px;
}
.SettingProfileModal__iconListScrollBar {
    margin-bottom: 10px;
}
.SettingProfileModal__iconListScrollBarInner {
    height: 515px;
}
.SettingProfileModal__heading {
    margin-bottom: 40px;
}
.SettingProfileModal__button {
    bottom: 0;
    position: absolute;
    right: 0;
}

#openRange .SettingMain__settingItem--input {
    margin-top: 10px;
}

#openRange .RadioButton + label {
    margin-right: 10px;
}

.SelectBox__select {
    background: #414349;
}


.text_copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px 15px 15px;
    color: grey;
    font-size: 0.8rem;
}

.SettingMain__settingItemInput--sound, .SettingMain__settingItemInput--notification {
    width:100px;
}

.SettingMain__notificationMainTitle {
    width: 153px;
}

.SettingMain__notificationTitle {
    width: 272px;
}

.SettingMain__notificationTitle{
    font-size:14px;
}

.SettingMain__settingTitle--download-cache {
    font-size: 14px;
    line-height: 52px;
    color: #fff;
}

.SettingMain__btn_box {
    width: 200px;
    display:flex;
    justify-content:flex-end;
}

.SettingMain__btn {
    padding: 7px 10px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background-color: #2f2f2f;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    width: 71px;
}

.SettingMain__btn:hover {
    opacity: .85;
}

.SettingMain__rightArea {
    position: fixed;
    right: 0;
    width: auto;
    padding: 7px 14px;
    text-align: right;
    -webkit-user-select: text;
}

.SettingMain__settingItemLauncherId {
    color: #fff;
    opacity: 0.7;
    font-size: 12px;
    -webkit-user-select: text;
}

#speedLimit .SettingMain__settingRow,
#notificationSettings .SettingMain__settingRow {
    justify-content: normal;
}

#speedLimit .SettingMain__settingTitle,
#notificationSettings .SettingMain__settingTitle,
.SettingMain__NotificationTable tr td:nth-of-type(1) {
    width: 215px;
}

#speedLimit .SettingMain__settingItem--input {
    margin-left: auto;
}

#launcherId .SettingMain__settingItem--input {
    width: 100%;
}

#launcherId .SettingMain__settingItem--inputText {
    height: 45px;
    padding: 20px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 550px;
    color: #d7d8db;
    font-size: 12px;
    background-color: #71757f;
}

.SettingMain__settingTitle--download-speed,
.SettingMain__settingTitle--auto-download-speed,
.SettingMain__settingTitle--download-cache {
    margin-right: 0;
    margin-left: 0;
}

.SettingMain__settingItem-disanable-wmi-msg {
    width: 100%;
    text-align: right;
    color: #ff0000;
    font-size: 14px;
}

/* Chat SIDEMENU---------------------------------------- */
.ChatSideMenuScroll {
    background: #202536;
    min-height: 100vh;
    max-height: 100vh;
}

.ChatSideMenu {
    padding:0;
    display:flex;
    flex-direction:column;
    height:auto;
    min-height:100vh;
}

.ChatSideMenuHead {
    border: none;
    margin: 0;
    padding: 2px;
}

/*.ChatSideMenuHead__hr {
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    margin: 0;
}*/

.ChatSideMenuHead_dragWapper {
    padding: 20px 27px 0 26px;
}

/*.ChatSideMenuHead[data-request='true']>.ChatSideMenuHead_dragWapper {
    margin-bottom:22px;
}

.ChatSideMenuHead::after{
    content:none;
}

.ChatSideMenuHead[data-request='true']::after {
    display: block;
    content: "";
    width: calc(100% - 54px);
    margin: 10px 27px 0 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;
}*/

.ChatSideMainArea {
    padding: 0 0 20px;
}

.ChatSideMenuHead__upper {
    width:100%;
    margin: 0;
    padding-bottom: 20px;
    position:relative;
}
.ChatSideMenuHead__notice {
    margin-bottom: 0;
}

.ChatSideMenuHead__notice::after {
    content: none;
}

.ChatSideMenuHead__notice[data-request='true'] {
    margin-bottom: 22px;
}

.ChatSideMenuHead__notice[data-request='true']::after {
    /*display: block;
    content: "";
    width: calc(100% - 54px);
    margin: 10px 27px 0 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    box-sizing: border-box;*/
    display: block;
    content: "";
    width: 100%;
    margin-top: 10.4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.ChatSideMenuHead__groupRequestButton.-down {
    position: absolute;
    right: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff100;
}

.ChatSideMenuBandanaList__listItem.-show-main-chat-user .ChatSideMenuBandanaList__listItemNotice {
    text-align: center;
    width: 20px;
    padding: 3.5px 0;
}

.ChatSideMenuHead__friendRequestItemMessage,
.ChatSideMenuHead__groupRequestItemMessage,
.ChatSideMenuHead__myfriendRequestItemMessage {
    overflow-wrap: break-word;
    overflow: hidden;
}

.ChatSideMenuHead__friendRequestItemMessage span,
.ChatSideMenuHead__groupRequestItemMessage span,
.ChatSideMenuHead__myfriendRequestItemMessage span {
    flex-grow: 1;
    overflow: hidden;
    width: 145px;
    word-break: break-all;
}

.ChatSideMenuHead__friendRequestNoticeError,
.ChatSideMenuHead__groupRequestNoticeError,
.ChatSideMenuHead__myfriendRequestNoticeError {
    display: none;
    color: red;
    padding: 10px;
    font-size: 13px;
}

.ChatSideMenuHead__friendRequestNotice.-error,
.ChatSideMenuHead__groupRequestNotice.-error,
.ChatSideMenuHead__myfriendRequestNotice.-error {
    margin-bottom: 0;
}

.ChatSideMenuHead__friendRequestNotice.-error + .ChatSideMenuHead__friendRequestNoticeError,
.ChatSideMenuHead__groupRequestNotice.-error + .ChatSideMenuHead__groupRequestNoticeError,
.ChatSideMenuHead__myfriendRequestNotice.-error + .ChatSideMenuHead__myfriendRequestNoticeError {
    display: block;
}

.toggleListChek {
    display: none;
}

.ToggleListBody {
    display: none;
}

.toggleListChek:checked + .ToggleListBody {
    display: block;
    transition: 0.5s;
}

.ChatIntroSideMenuFriendList__searchArea {
    padding-bottom: 20px;
}

.ToggleListHead::after + .toggleListChek:checked{
    transform: rotate(90deg);
}

.ChatProfile__submitResult,
.ChatIntroSideMenuFriendList__searchResult,
.ChatMainFormArea__submitResult,
.ChatSideMenuGroupList__memberRequestResult,
.ChatUpload__Result {
    display: none;
}

.authcode_confirm__result.-error,
.ChatProfile__submitResult.-error,
.ChatIntroSideMenuFriendList__searchResult.-error,
.ChatMainFormArea__submitResult.-error,
.ChatSideMenuGroupList__memberRequestResult.-error,
.ChatUpload__Result.-error {
    display: block;
    padding-top: 5px;
    color: #ff0000;
    font-size: 13px;
}



.ChatSideMenuFriendList__listItemImage.-apply:before {
    content: "";
    background: url(../img/chat/ChatList__memberListIcon--applystripe.png) center center/contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;
}

.ChatSideMenuGroupList__memberRequest {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding-top: 20px;
}

.ChatSideMenuGroupList__memberRequest--requestButton {
    background: #f39800;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    width: 90px;
    height: 36px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.ChatSideMenuGroupList__createHead,
.ChatSideMenuGroupList__memberRequestHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.ChatSideMenuGroupList__createHead--text,
.ChatSideMenuGroupList__memberRequestHead--text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ChatSideMenuGroupList__memberRequest .SelectBox {
    width: 100%;
}

.ChatSideMenuHead__groupRequestButton.down {
    position: absolute;
    right: 5px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff100;
}

.ChatSideMenuMessageList__headingTitle span {
    padding-left: 10px;
}

.ChatSideMenuMessageList__button.up {
    width: 0;
    height: 0;
    margin-left: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.ChatSideMenuMessageList__button.down {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(255, 255, 255, 0.5);
}

.ChatSideMenuMessageList__friendAddButton.-down {
    background:none;
}

.ChatSideMenuGroupList__listItemImageNotice {
    height: 20px;
    padding: 3px 7px;
    color: #fff;
    font-size: 12px;
    background-color: #ff0000;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    left: 8px;
    transform: translateX(-50%);
    font-family: 'AvantGarde Bold';
}


/* MY FRIEND REQUEST >>--------------------------------- */
.ChatSideMenuHead__myfriendRequest {
    height: 0;
    overflow: hidden;
}

.ChatSideMenuHead__myfriendRequestNotice {
    padding-left: 13px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    cursor: pointer;
}

.ChatSideMenuHead__myfriendRequestNotice:hover .ChatSideMenuHead__myfriendRequestNoticeMessage {
    opacity: .85;
}

.ChatSideMenuHead__myfriendRequestNoticeIcon img {
    width: 20px;
    margin-right: 10px;
}

.ChatSideMenuHead__myfriendRequestNoticeMessage {
    color: #fff100;
    font-size: 13px;
    font-weight: bold;
}

.ChatSideMenuHead__myfriendRequestNotice span.-up {
    display: block;
    position: absolute;
    right: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff100;
}

.ChatSideMenuHead__myfriendRequestButton.-down {
    position: absolute;
    right: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff100;
}

.ChatSideMenuHead__myfriendRequestItem {
    margin-bottom: 12.5px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}

.ChatSideMenuHead__myfriendRequestItemIcon {
    width: 32px;
    border-radius: 50%;
    margin-right: 13px;
}

.ChatSideMenuHead__myfriendRequestItemMessage {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    line-height: 1.4;
    display: flex;
    align-items: center;
}

.ChatSideMenuHead__myfriendRequestButton--button {
    display: flex;
    align-items: center;
    width: calc(100% - 40.23px);
}

    .ChatSideMenuHead__myfriendRequestButton--button:hover {
        opacity: .85;
    }

.ChatSideMenuHead__myfriendRequestButtonIcon {
    width: 32.3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChatSideMenuHead__myfriendRequestButtonIcon {
    width: 14px;
    margin-right: 6px;
}

.ChatSideMenuHead__myfriendRequestButtonText {
    width: 108.4px;
    height: 32.3px;
    padding: 8px 10px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    background: #F39800;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.ChatSideMenuHead__myfriendRequestButton {
    width: 148.7px;
    display: flex;
    justify-content: flex-end;
}

.ChatSideMenuHead__myfriendRequestButton--deleteButton {
    width: 32.3px;
    height: 32.3px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.3em;
}

    .ChatSideMenuHead__myfriendRequestButton--deleteButton img {
        width: 100%;
    }

    .ChatSideMenuHead__myfriendRequestButton--deleteButton:hover {
        opacity: .85;
    }

/* MY FRIEND REQUEST <<--------------------------------- */


/* Chat MAIN ---------------------------------------- */
.Chat {
    position: relative;
}

.ChatMain {
    display: none;
    background: #ececec;
    overflow: hidden;
    box-sizing: border-box;
}

.ChatMainHeader__container,
.ChatMainHeader__bg {
    background: #3a3e4d;
    box-sizing: border-box;
    width: 100%;
}
.ChatMainHeader__container {
    padding: 0;
    width: 100%;
    height: 82px;
}

.ChatMainHeader__bg {
    border: 2px solid #3a3e4d;
    min-height: 82px;
    z-index: 1;
    position: relative;
}

.ChatMainHeader__group,
.ChatMainHeader__user {
    background: transparent;
    padding: 14px 18px 14px 24px;
    height:100%;
    position: relative;
    overflow-x:hidden;
}
.ChatMainHeader__heading__listItemBodyHeading--userName {
    flex-grow: 1;
    word-break: break-all;
}

.ChatMainHeader__headingTextDescription {
    width: auto;
    word-break: break-all;
    max-width: 352px;
}

.ChatMainHeader__headingTextDescription.close {
    height: 1.75em;
}

.ChatMainContentsScroll {
    /*overflow:hidden;*/
    height: calc(100vh - 170px);
    position: relative;
}

.ChatMainHeader__inner {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-app-region: drag;
    overflow: hidden;
    box-sizing: border-box;
}

.ChatList {
    top:82px;
    bottom: 0;
    top:auto;
}

.ChatMainFormArea__supplementMessage + .ChatMainFormArea__supplementMessage {
    margin-left:10px;
}

.ChatProfileModal__container {
    position:relative;
}

.ChatProfileModal__iconListScrollBarInner {
    max-height: calc(100vh - 244px);
}

.ChatProfileModal__iconListScrollBar {
    margin-bottom: 0;
    height:100%;
}

.ChatProfileModal__bottom {
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ChatProfileModal__button {
    width: 100%;
    justify-content: flex-end;
}

.ChatProfileModal__selectButton {
    cursor: pointer;
}

.ChatProfileModal__cancelButton {
    cursor: pointer;
}

/* SOCIAL PROFILE ----------- */
.ChatProfile {
    display: none;
    visibility: initial;
}

.ChatProfile__container {
    height: 100%;
}

.ChatProfile_gameInfo__NotData {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
}

.ChatProfile__userGameStatusIcon {
    border: 1px solid #8f929a;
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.ChatProfile__userGameStatusIcon img {
    width: 100%;
    margin-right: 0;
}

.ChatUserModal__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ChatUserModal__body {
    flex-grow: 1;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.ChatUserModal__footer {
    margin-bottom: 1px;
}

.-alert .ConfirmModal__body {
    text-align:center;
}

.ChatProfile__friendDeleteButton,
.ChatProfile__friendRequestDeleteButton,
.ChatProfile__friendPendingAcceptButton,
.ChatProfile__friendPendingButton {
    display: flex;
    align-items: center;
    margin-right: 14px;
    width: calc(100% - 54px);
}

.ChatSideMenuMessageList__listItemImageNotice {
    display:none;
}

.-unread .ChatSideMenuMessageList__listItemImageNotice {
    display:block;
    height: 20px;
    padding: 3px 7px;
    color: #fff;
    font-size: 12px;
    background-color: #ff0000;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: -3px;
    left: 1px;
    transform: translateX(-50%);
    font-family: 'AvantGarde Bold';
    z-index: 1;
}

.UserInfo__friendCodeNumber {
    user-select: text;
}

.message_type_img {
    padding-bottom: 20px;
}

.ChatMainContentsReply__image img,
.ChatMainContents__image img {
    max-width: 400px;
}

/* --- Favorite ------------------------------------------------ */
.ChatProfile__reportButton{
    margin-bottom:0;
}
.ChatProfile__OptionButtonContainer{
    top: -88px;
}
.ChatProfile__OptionButtonContainer > a + a {
    margin-top: 20px;
}

.ChatProfile__favoriteButton, .ChatProfile__favoriteDeleteButton {
    display: flex;
    align-items: center;
}

.ChatProfile__favoriteButtonIcon>img{
    width: 13px;
    margin-right: 10px;
}

.ChatProfile__favoriteButtonText {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: 2px;
}

/* -- Group create ----------------------------------- */
.ChatCreateGroup__heading {
    height:75px;
}
.ChatCreateGroup__result {
    margin: 0;
    position:relative;
}

.ChatCreateGroup__settingItemErrorRow.-error .ChatCreateGroup__settingItemErrorMessage {
    display: block;
    color: #ff0000;
    font-size: 13px;
    margin-top: 5px;
}
.ChatCreateGroup__iconCopyright {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: block;
    height: 20px;
}
.ChatCreateGroup__iconCopyright > .text_copyright {
    left:auto;
    right:0;
    padding-bottom:0;
}
/* -- Group settings ----------------------------------- */
..ChatManagement {
    overflow: hidden;
}

.ChatManagement > .ChatProfileModal,
.ChatManagement > .ChatLeader,
.ChatManagement > .ChatSubLeader {
    left: 0;
}
.c_window_ctrl {
    
}

.c_window_storage,
.c_window_close {
    padding: 4px 0;
    cursor: pointer;
}

.c_window_storage img,
.c_window_close img {
    display:block;
}d
.ChatMainHeader__headingTextMemberlistitem.-marked {
    cursor:pointer;
}

.errorRow.-error .ChatManagement__settingItemErrorMessage {
    padding: 4px 25px;
}

.not_allowed .ChatManagement__memberSetting {
    cursor: none;
    pointer-events: none;
    opacity: 0.5;
}

.ChatManagement__groupSetting.not_allowed {
    justify-content:center;
}
.not_allowed .ChatManagement__groupDelete {
    display: none;
}

.ChatList__memberListSubHeading,
.ChatList__memberListHeadingName{
    cursor:auto;
}

.ChatList__memberListIcon {
    margin-right: 25px;
}

.ChatList__memberListHeadingName {
    font-size: 12px;
}

/* -- AddChatMessage ----------------------------------- */
input[type="radio"].ChatAddMessage__memberListItemInput:checked + .ChatAddMessage__memberListItemContainer {
    color: #fff;
    background-color: rgba(58, 62, 77, 0.78);
}

.ChatList__memberListItem.-canDelete {
    cursor: pointer;
}

.errorRow > .ChatManagement__settingItemErrorMessage {
    width: 100%;
    text-align: center;
}

/* -- Group icon  ----------------------------------- */
.SettingProfileModal__item,
.ChatCreateGroup__icon,
.ChatProfileModal__item {
    display: flex;
    align-items: stretch;
}
.SettingProfileModal__itemLabel,
.ChatCreateGroup__iconLabel,
.ChatProfileModal__itemLabel {
    display: flex;
    align-items: stretch;
}
.SettingProfileModal__itemContainer,
.ChatCreateGroup__iconContainer,
.ChatProfileModal__itemContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ChatSideMenuGroupList__listItemBodyMember span:first-child {
    padding-right: 0;
}

.ChatSideMenuGroupList__listItemBodyMember span + span {
    padding-left: 20px;
}

.ChatSideMenuGroupList__listItemBodyMember {
    height: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ChatSideMenuGroupList__listItemBodyHeading {
    display: flex;
    overflow: hidden;
}

.ChatSideMenuGroupList__listItemBodyHeading--groupName {
    flex-basis: auto;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ChatSideMenuGroupList__listItemBodyHeading--memberNum {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}


/* -- Image Upload ------------------------------*/
.ChatUpload__bottom {
    min-height: 62px
}

.ChatUpload__userName {
    word-break: break-all;
}

.ChatUpload__user {
    padding: 0 15px;
}


/*-- DEMO  >>--------------------------*/
.ChatProfile__OptionButtonContainer {
    display: none;
    visibility: inherit;
}

.ChatSideMenuHead__OptionButtonContainer {
    position: absolute;
    top: 41px;
    right: 0;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: none;
    z-index: 1;
}

.ChatSideMenuHead__activeButton, .ChatSideMenuHead__absentButton, .ChatSideMenuHead__blockListButton {
    display: flex;
    align-items: center;
}

.ChatSideMenuHead__activeButton, .ChatSideMenuHead__absentButtonText, .ChatSideMenuHead__blockListButton {
    height: 38px;
    padding: 0 30px 0 16px;
    display: flex;
    align-items: center;
}

.ChatSideMenuHead__activeButtonText, .ChatSideMenuHead__absentButtonText, .ChatSideMenuHead__blockListButtonText {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: bold;
}

.ChatSideMenuHead__activeButtonIcon img {
    width: 13px;
    margin-right: 10px;
}

.ChatSideMenuHead__absentButtonIcon img {
    width: 13px;
    margin-right: 10px;
}

.ChatSideMenuHead__blockListButtonIcon img {
    width: 13px;
    margin-right: 10px;
}

.ChatSideMenuHead__line {
    height: 1px;
    margin: 6px 16px;
    background-color: rgba(0, 0, 0, 0.5);
}

.ChatBlockList {
    background-color: rgba(58, 62, 77, 0.73);
    justify-content: center;
    align-items: center;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 412px;
    z-index: 4;
    opacity: 0;
    z-index: 100000000;
}

.ChatBlockList__header {
    display: flex;
    justify-content: flex-end;
}

.ChatBlockList__window {
    margin-top: 17px;
    padding: 17px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.ChatBlockList__storage {
    width: 17px;
    margin-right: 20px;
}

.ChatBlockList__close {
    width: 11px;
}

.ChatBlockList__container {
    width: 615.5px;
    padding: 30px 22px 73px 26px;
    background-color: #ECECEC;
    box-sizing: border-box;
    position: relative;
}

.ChatBlockList__heading {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
}

.ChatBlockList__member {
    display: flex;
    align-items: center;
}

.ChatBlockList__icon {
    width: 25.5px;
    height: 25.5px;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
}

    .ChatBlockList__icon img {
        width: 100%;
    }

.ChatBlockList__name {
    font-size: 13px;
    letter-spacing: 0;
}

.ChatBlockList__delete {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-70%);
}

    .ChatBlockList__delete img {
        width: 100%;
    }

    .ChatBlockList__delete.fadein {
        animation: fadein .02s linear forwards;
        cursor: pointer;
    }

    .ChatBlockList__delete.fadeout {
        animation: fadeout .02s linear forwards;
    }

.ChatBlockList__selectionContainer {
    width: 280px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.ChatBlockList__invitation, .ChatBlockList__cancel {
    width: 140px;
    height: 46px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .06em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatBlockList__invitation {
    background-color: #FF6A37;
}

.ChatBlockList__cancel {
    background-color: #8A8A8A;
}

.ChatBlockList__memberListItemInput {
    display: none;
}

.ChatBlockList__memberList {
    list-style: none;
}

.ChatBlockList__memberListItemMemberInfo {
    display: flex;
    align-items: center;
}

.ChatBlockList__memberListItem {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(58, 62, 77, 0.07);
    transition: .2s linear forwards;
    position: relative;
}

    .ChatBlockList__memberListItem:nth-child(odd) {
        background-color: rgba(58, 62, 77, 0.03);
    }

input[type="radio"].ChatBlockList__memberListItemInput:checked + .ChatBlockList__memberListItemContainer {
    color: #fff;
    background-color: rgba(58, 62, 77, 0.78);
}

    input[type="radio"].ChatBlockList__memberListItemInput:checked + .ChatBlockList__memberListItemContainer + .ChatBlockList__delete {
        opacity: 1;
    }

.ChatBlockList__memberListItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 14px;
    cursor: pointer;
    position: relative;
}
/*-- DEMO  <<--------------------------*/
.ChatMainHeader__like::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    background: url(../img/chat/ChatSideMenuMessageList__listItemIcon--nolike.png) center center/contain;
    width: 14px;
    height: 12px;
    cursor: pointer;
}
.ChatMainHeader__like.-like::before {
    background: url(../img/chat/ChatSideMenuMessageList__listItemIcon--like.png) center center/contain;
}

.ChatMainContentsReplyHeading {
    width:auto;
}

.ChatMainContents__deleteMessage {
    z-index: 3;
}

.ChatMainContentsReply__userInfoLower {
    justify-content: flex-end;
}

.ChatMainContentsReply__userInfoFriendRequestButton {
    flex-grow: 1;
}

.ChatMainContentsReply__userInfoFriendRequestButtonText {
    flex-grow: 1;
    padding: 0 10px;
}

.ChatMainContents__date {
    display: flex;
}

.ChatMainContents__newMessageDate,
.ChatMainContents__datetext {
    width: auto;
    min-width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


.Rule {
    width: 100%;
}

.ChatImageSlider {
    background: #202536;
    min-height: 100vh;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    transition: opacity 0.1s, visibility 0s ease-out 0.3s;
    opacity: 1;
    visibility: visible;
    display: none;
    padding: 2px;
    box-sizing: border-box;
}

.ChatImageSlider.out {
    /*animation: fadeout .3s linear forwards;*/
    display: none;
}
.ChatImageSlider.fade {
    display: block;
    /*animation: fadein .3s linear forwards;*/

}


.ChatImageSlider__header {
    position: relative;
}

.ChatImageSlider__header {
    width: 100%;
    height: 32px;
    /*-webkit-app-region: drag;*/
}

.ChatImageSlider__closeButton {
    -webkit-app-region: no-drag;
}
.ChatImageSlider__container {
    flex-direction: column;
    height: calc(100vh - 4px);
    width: 100%;
}

.ChatImageSlider__slider {
    margin: auto;
}

.ChatImageSlider__sliderImage {
    text-align: center;
}

.ChatImageSlider__sliderImage img {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}

.ChatImageSlider__closeButton {
    padding:5px;
}

.ChatIntroTerms {
    display:none;
    opacity:0;
    z-index:4;
}
.ChatIntroTerms__container {
    box-sizing: border-box;
    min-height: 100vh;
    width:100%;
}

.ChatCommonUserSelectModal {
    height: 100vh;
}

.ChatCommonUserSelectModal__container {
    overflow: hidden;
}
.Terms__closeBtnArea {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.Terms__startButton {
    bottom: 2px;
    cursor: pointer;
}

.Terms__container {
    width: 100%;
    padding: 25px 30px 62px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.Terms__form label {
    position: relative;
}

.Terms__terms {
    height: auto;
    flex-grow: 1;
    min-height: 197px;
}

.Terms__terms .simplebar-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.Terms__errorMessage {
    font-size: 12px;
    color: red;
    text-align: center;
    min-height: 1.5em;
}

.ChatManagement__header {
    width: calc(100% - 80px);
    min-width: 617px;
}

.ChatSideMenuFriendList__listItemBody {
    max-width: 69%;
}

.ChatSideMenuFriendList__listItemBodyHeading {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ChatList__memberListIcon.-leave + .ChatList__memberListHeading .ChatList__memberListHeadingName,
.ChatList__memberListIcon.-leave + .ChatList__memberListHeading .ChatList__memberListSubHeading {
    color: #fff;
}

.ChatSideMenuFriendList__listItemImage.-leave + .ChatSideMenuFriendList__listItemBody .ChatSideMenuFriendList__listItemBodyHeading,
.ChatSideMenuFriendList__listItemImage.-leave + .ChatSideMenuFriendList__listItemBody .ChatSideMenuFriendList__listItemBodyStatus {
    color: #fff;
}

.ChatSideMenuMessageList__listItemImage.-leave + .ChatSideMenuMessageList__listItemBody .ChatSideMenuMessageList__listItemBodyHeading,
.ChatSideMenuMessageList__listItemImage.-leave + .ChatSideMenuMessageList__listItemBody .ChatSideMenuMessageList__listItemBodyStatus {
    color: #fff;
}

.ChatManagement__settingItem--inputText textarea,
.ChatCreateGroup__settingItem--inputText textarea,
.SettingMain__settingItem--inputText textarea,
.ChatMainFormArea__messagetext {
    word-break: break-all;
}

.ChatManagement__settingItem--icon {
    justify-content: flex-start;
}


.ChatMainContentsScroll.system {
    height: calc(100vh - 82px);
}

.ChatManagement__windowControl {
    top: 16px;
    right: 11px;
}

ChatCommonUserSelectModal__window,
.ChatCommonUserCheckBoxModal__window {
    padding: 16px 21px;
}


.-top .SettingMain__settingExplanationContainer::before {
    border-bottom: none;
    border-top: 8px solid #cdced2;
    bottom: -7px;
    top: initial;
}

.-top .SettingMain__settingExplanationContainer {
    top:initial;
    bottom: 28px;
}

/* -- Toast Notification ------------------------------*/

.Toaster__closeIcon {
    margin-left: auto;
}

.Toaster__thumbnail--information {
    min-width: 115px;
}

.Toaster__headingTitle {
    width: 285px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Toaster__body {
    width: 316px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.Toaster__headingIcon {
    background: transparent;
    clip-path: none;
    padding: 0;
}

.Toaster__headingIcon img {
    width: auto;
}

.omit_202102 {
    display:none !important;
}

.Operation__item.Operation__userIcon {
    margin-right: 18px;
}

.ProgressTime.Calculating {
    background: #f5a42d;
}

.Preload {
    background: #202536;
}

.ConfirmModal__body_checkbox {
    flex-grow: 1;
    padding: 0 25px 0;
    margin: 15px 0;
    overflow-y: hidden;
    word-wrap: break-word;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.relese_notes_close {
    width: 38% !important;
    position: relative;
}

.relese_notes_container {
    background-color: #d1d1d1 !important;
}

.relese_notes_container .simplebar-content:before,
.relese_notes_container .simplebar-content:after {
    display: none;
}