.Toaster {
  background: #202536;
  max-width: 482px;
  display: flex;
  padding: 12px;
  box-sizing: border-box; }

.Toaster__thumbnail {
  --notchSize: 10px;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  margin-right: 12px; }

.Toaster__thumbnail img {
  max-width: 115px; }

.Toaster__thumbnail--game {
  display: none; }

.Toaster__information {
  padding-top: 12px;
  box-sizing: border-box; }

.Toaster__heading {
  display: flex;
  align-items: center;
  margin-bottom: 12px; }

.Toaster__headingIcon {
  display: flex;
  align-items: center;
  background: #f56c2d;
  --notchSize: 2px;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  padding: 6px;
  margin-right: 8px; }

.Toaster__headingIcon img {
  width: 12px; }

.Toaster__headingTitle {
  font-size: 15px;
  font-weight: bold;
  color: #fff; }

.Toaster__body {
  font-size: 13px;
  color: #fff;
  line-height: 1.8; }

.Toaster__closeIcon {
  height: 25px;
  box-sizing: border-box;
  cursor: pointer; }

.Toaster__closeIcon img {
  width: 14px;
  vertical-align: top; }
